---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Gestión de redes,</h2>
		<p>Implica la capacidad de construir y mantener relaciones profesionales, tanto en línea como fuera de ella. Esto incluye la habilidad para identificar contactos clave, colaborar con otros y aprovechar las conexiones para el beneficio mutuo o de la organización.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>creación de contenido</h2>
		<p>Se refiere a la habilidad para producir material relevante y atractivo en diversos formatos, como texto, imágenes o videos. Esto no solo abarca la creatividad, sino también la capacidad de entender a la audiencia, investigar temas y comunicar mensajes de manera efectiva.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>servicio al cliente</h2>
		<p>Es la capacidad de interactuar con los clientes de manera efectiva y amigable, resolviendo sus dudas, manejando quejas y asegurando su satisfacción. Requiere paciencia, empatía y excelentes habilidades de comunicación.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
